/*BEGIN Xbox One Controller Styling*/
.controller.custom {
    background-image: url('https://cdn.discordapp.com/attachments/681760010392436836/681760491475042318/SSLogo.png');
    background-position-y: 50px;
    background-size: 1000px;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/base.svgz.svg');
    mask-repeat: no-repeat;
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.custom.disconnected {
    background: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/disconnected.svgz.svg');
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
    background-color: #191919;
}

.custom .trigger {
    width: 88px;
    height: 121px;
    background: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/trigger.svgz.svg');
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .bumper {
    width: 170px;
    height: 61px;
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/bumper.svgz.svg');
}

.custom .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
}

.custom .bumper.pressed {
    background-color: white;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .quadrant {
    position: absolute;
    background: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/quadrant.svgz.svg');
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
    opacity: 0;
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.custom .back,
.custom .start {
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/start-select.svgz.svg');
    width: 33px;
    height: 33px;
    opacity: 1;
    border-radius: 30px;
}

.custom .back.pressed,
.custom .start.pressed {
    background-color: gray;
}

.custom .back {
    float: left;
}

.custom .start {
    background-position: 33px 0px;
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.custom .button {
    position: absolute;
    background: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/abxy.svgz.svg');
    width: 48px;
    height: 48px;
}

.custom .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.custom .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.custom .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.custom .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.custom .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.custom .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.custom .stick {
    position: absolute;
    background: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/stick.svgz.svg');
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.custom .stick.pressed {
    background-position: 0 0;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: 113px;
    left: 288px;
}

.custom .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.custom .face {
    position: absolute;
    opacity: 1;
}

.custom .face.pressed {
    background-color: white !important;
}

.custom .face.up {
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/dpad.svgz.svg');
    mask-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.custom .face.down {
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/dpad.svgz.svg');

    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.custom .face.left {
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/dpad.svgz.svg');
    mask-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.custom .face.right {
    background-color: #191919;
    -webkit-mask-image: url('https://rawcdn.githack.com/Lyliya/CustomGamepadViewer/5f75f04913ea227ef7cf35075f0afc80990d83c4/dpad.svgz.svg');
    mask-position: 0 -57px;

    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.custom.half {
    margin-top: -315px;
}

.custom {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
